.bike{
    background-color: rgb(255, 221, 0);
}
#textcon{
    background-color: #fbf7dd;
}
#last{
    background-color: #f6f5fa;
}
#bottom{
    background-color: black;
}
.col-12 a{
    text-decoration: none;
}